* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
  scroll-behavior: smooth;
}

header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.header-photo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgb(255, 255, 255);
    transition: transform 0.3 ease ;
    transition: all 0.3 ease;
}
.header-photo:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.social-icons a.github:hover{
  text-shadow: 0 0 10px #8b6e6e, 0 0 20px #8b6e6e, 0 0 30px #8b6e6e;
}
.social-icons a.linkedin:hover{
  text-shadow: 0 0 10px #0e76a8, 0 0 30px #0e76a8, 0 0 20px #0e76a8;
}
.social-icons a.whatsapp:hover{
  text-shadow: 0 0 10px #25D366, 0 0 30px #25D366, 0 0 20px  #25D366;
}
.social-icons a.instagram:hover{
  text-shadow:0 0 10px #C13584, 0 0 20px  #C13584, 0 0 30px  #C13584;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
nav a:hover {
  color: #ffa500;
}

section {
    opacity: 0.95;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
    margin-top: 2rem;
    border-radius: 8px;
}

section.visible{
    opacity: 1;
    transform: translateY(0);
}
 
.all{
    animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

 
.project {
  margin-bottom: 20px;
}

form input, form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}
form input:focus, form textarea:focus {
  box-shadow: 0 0 5px #ffa500;
  border-color: #ffa500;
}

button {
  background: #333;
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition:  0.3s ease;
}
button:hover {
  background: #ffa500;
}

footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: #fff;
  margin-top: 2rem;
}

#hero h2{
   justify-content: center;
    text-align: center;
    margin-left: 2opx;
}
#about h2{
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
#projects h2{
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
#contact h2{
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
#skills h2{
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}